.sidebar {
  background-color: #1E1E1E;
  color: white;
  height: 100vh !important;
  width: 300px;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 30px 15px;
}
.logo {
  font-size: 25px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 220px;
  color: #fff;
}
.link {
  display: flex;
  color: white;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  /* margin-top: 10px; */
  /* margin: 10px; */
}

.link:hover {
  background: white;
  color: black;
  transition: all 0.5s;
}
.active{
    background: white;
    color: black;
    
}
.icon,
.link_text {
  font-size: 20px;
}
.padd {
  display: flex;
  margin: 0;
  padding-left: calc(var(--bs-gutter-x) * 0);
  padding: 0px;
}
.abc {
  width: 100%;
}
.btn_doc button {
  background-color: #1E1E1E;
  margin-top: 20px;
  padding: 10px;
  color: #fff;
  border-radius: 05px;
  float: right;
  margin-right: 10px;
  margin-bottom: 30px;
}

.tab {
  margin-top: 30px;
}
.main {
  background-color: #000;
  height: 100vh !important;
}

