.imageComparisonContainer > div {
  border-radius: 20px;
}

.imageWrapper {
  margin-bottom: 4rem;
  margin-top: 10rem;
}
.titleWrapper {
  text-align: center;
}
.titleWrapper > h4 {
  margin-bottom: 15px;
}
.headingTransformation {
  color: #111;

  font-family: "Antic Didone";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 12px;
}
.titleWrapper {
  position: relative;
}
.titleWrapper h4::before {
  content: "";
  background-color: #000;
  /* padding: 2px 0px; */
  position: absolute;
  left: 0px;
  top: 14px;
  height: 1.5px;
  width: 100px;
}
.titleWrapper h4::after {
  content: "";
  background-color: #000;
  /* padding: 2px 0px; */
  position: absolute;
  top: 15px;
  height: 1.5px;
  width: 100px;
  right: 0;
}
.titleWrapper > h4 {
  position: relative !important;
}

.titleWrapper > h4 {
  width: 28% !important;
  margin: 0 auto !important;
}
