.textblog{
   
    margin: 20px 0px 20px 0px;
}
.textblog button{
    border: 1px solid black;
    padding: 5px 30px;
    transition: .8s;
}
.textblog button:hover{
    background-color: #d4ae3d;
 color: white;
}
h1 , h4 {
    font-family: "Antic Didone";
}
p{
    font-family: "Inter";
}
.searchbar {
    display: flex;
    justify-content: center; 
    margin-top: 20px;

    width: 100%;
    background-color: #F7EED3;
    border-radius: 10px;
}
.searchbar svg {
    background-color: #d4ae3d;
    color: white;
   width: 40px;
   height: 40px;
   border-radius: 10px;
}
.searchbar input{
    background-color: #F7EED3;
    border-radius: 10px;
    padding: 05px;
    width: 100%;
    outline: none;
    border: none;
}
.searchbar input::placeholder{
    color: black;
}
.category{
    background-color: #F7EED3;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 10px;


}

.category ul li{
    margin: 20px 0px;
    border-bottom: 1px solid rgb(205, 205, 205);
   
}
.blog{
    background-color: #F7EED3;
    padding: 10px;

    margin: 20px 0px;
    border-radius: 10px;
}
.latestblog{
    display: flex;
   align-items: center;
    width: 80%;
    padding: 20px 10px;
}
.latestblog img{
    width: 80px;
    padding-right: 20px;
}
.populartag{
    background-color: #F7EED3;
   
    margin: 20px 0px;
    border-radius: 10px;
    padding: 20px;
}
.populartag span{
    
  
 
    margin: 04px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
}
.populartag span a{
 display: inline-flex;
    text-decoration: none;
margin-bottom: 10px;
    
    /* margin: 10px; */ 
  
}