.img{
    width: 100%;
    height: 304px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;

}
.imgWrapper{
    overflow: hidden;
    position: relative;
    width: 100%;
    /* height: 290px; */
    border-radius: 100%;
}
.imgWrapper:hover img {
    transform: scale(1.1);
  }